body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.section {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #334155;
  text-align: left;
}

th {
  background: #334155;
}

tr:hover {
  background: #273549;
}

button {
  margin:5px;
  padding:10px 15px;
  border:none;
  border-radius:8px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
}
